body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0 ;
  /* background: linear-gradient(135deg, #B3B3F1, #A5D8F3, #F2B6C5, #FFD4A3);  Sharpest Gradient */ 
    /* background: linear-gradient(135deg, #D6D6F1, #A8E2F8, #F6D5D7, #FFE3B3); Sharper Gradient*/
  /* background: linear-gradient(135deg, #E8E8F3, #D0E8F8, #F9E2E5, #FFF5D3);    Less Sharp Gradient*/ 
  background: linear-gradient(135deg, #F3FAFF, #E9F8F9, #FFF1E6, #FFF8E0); /* Least Sharp Gradient */

  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  
}
h1{
  margin: 0;
}

h1,h2,h3 {
  color: #333333; 
}

p {
  color: #4A4A4A;
}

button {
  border-style: none;
  background-color: transparent;
}

a { 
  text-decoration: none;
  color: black;
}


.link-hover:hover {
  color: grey;
  transform: scale3d(1.3 , 1.3, 1.3);
  transition: all 0.2s ;
}



nav {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;

}

section {
  width: 100vw;
   display: flex;
   justify-content:space-evenly;
}



/* Page Layout */

.grid-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(10 , 10vh);
  grid-auto-rows: minmax(10vh, auto); 
  overflow-y: auto;

}


.side-panel{
  grid-column-start: 1 ;
  grid-column-end: 5 ;
  grid-row-start: 2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 20px ;
}

.side-panel h1 {
  padding-top: 3rem  ;
  padding-bottom: 3rem;
}


/* .content{
  min-height: 100%;
  grid-column-start: 5 ;
  grid-column-end: 13 ;
  grid-row-start: 2;
  grid-row-end:11 ;
  display: grid; 
  grid-template-columns: repeat(10 , 1fr);
  grid-template-rows: repeat(10 , 10vh );
 
} */


/* Home Page Styling */



nav img {
  height: 25px;
  width: 25px;
}


.basic-info {
  min-height: 100%;
  grid-column-start: 6 ;
  grid-column-end: 13 ;
  grid-row-start: 5;
  grid-row-end:11 ;
  display: flex;
  flex-direction: column;
  margin: 0 ; 
  gap: 50px;
}




div.icons{
  display: flex;
  gap: 40px ;
  flex-wrap: wrap;
}


img{
  height: 50px;
  width: 50px;
}

.btn-active {
  background-color: white;;
  border-radius: 15px;
  transform: scale3d(1.2 , 1.2,1.2);
  transition: all 0.2s ;
  color: black;
}



.btn {
  font-size: 1.1rem;
  padding: 15px;
  width: fit-content;
  color: black;

}




.btn:hover {
  background-color: white;
  border-radius: 15px;
  transform: scale3d(1.3 , 1.3, 1.3);
  transition: all 0.1s ;
  color: black;

}


/* About Page Styling */

.about{
  min-height: 100%;
  grid-column-start: 5 ;
  grid-column-end: 11 ;
  grid-row-start: 3;
  grid-row-end:12  ;
  display: flex;
  flex-direction: column;
  margin: 0 ;
}


.about h1 {
  font-weight: bold;
  background: linear-gradient(90deg, #8A2BE2, #4B0082, #00BFFF);   /* Purplish to bluish gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.about h2{
 font-weight: bold;
  background: linear-gradient(90deg, #FF5733, #FF8D33, #8A2BE2, #4B0082, #00BFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

/* Projects Pages Styling */

.project{
  min-height: 100%;
  grid-column-start: 5 ;
  grid-column-end: 11 ;
  grid-row-start: 3;
  grid-row-end:12  ;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px ;
}


.project-media{
  width: 100%;
  min-height: fit-content;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
}

img , video {
  transition: opacity 1s ease-in-out;

}

.project-text {
  font-size: 1.2rem;
}


.project-technologies{
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
}

.project-technologies-icons{
display: flex;
flex-direction: row;
gap: 2rem;
}

.project-buttons {

  width: 100%;
  display: flex;
  flex-direction:row ;
  justify-content: center;
  gap: 3rem;
}

.project-buttons img {
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-5%);

}


.project-buttons button{
  border-radius: 15px;
  height: 4rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-buttons a {
  display: flex;
  align-items: center;   
  gap: 0.5rem ;
  height: 100%;
  font-size: 1rem;
}


.project-buttons button:hover {
  transform: scale3d(1.3 , 1.3, 1.3);
  transition: all 0.2s ;
}




.source-code {
  background-color: black;
}

.source-code a{
  color: white;
}


.source-code img{
  height: 2.5rem;
  width: 2.5rem;
}


.live-demo {
  background: white;
}



/* @media (max-width: 1920px) {
  .grid-layout {
    grid-template-columns: repeat(9 , 1fr); 
  }
  .side-panel h1 {
    padding-top: 20px  ;
    padding-bottom: 20px;
  }

  .side-panel {
    grid-column: span 3;
    min-height: auto;
    font-size: 1.1rem;
    padding: 15px;
  }
  .content{
    grid-column: span 6;
    display: flex;
    align-self: center;
  
  }

  .btn, li button {
    font-size: 1.1rem;
    padding: 10px;    
  }
} */